[Unit]
Description=node_exporter prometheus service
After=network.target auditd.service
StartLimitBurst=10
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
#ExecStart=/usr/local/bin/node_exporter
#ExecStart=/usr/local/bin/node_exporter --no-collector.arp --no-collector.bcache --no-collector.bonding --no-collector.btrfs --no-collector.conntrack --no-collector.dmi --no-collector.edac --no-collector.entropy --no-collector.fibrechannel --no-collector.filefd --no-collector.filesystem --no-collector.hwmon --no-collector.infiniband --no-collector.nfs --no-collector.nfsd --no-collector.nvme --no-collector.powersupplyclass --no-collector.pressure --no-collector.rapl --no-collector.schedstat --no-collector.selinux --no-collector.softnet --no-collector.stat --no-collector.tapestats --no-collector.textfile --no-collector.thermal_zone --no-collector.time --no-collector.timex --no-collector.udp_queues --no-collector.uname --no-collector.vmstat --no-collector.xfs --no-collector.zfs
ExecStart=/usr/local/bin/node_exporter --no-collector.arp --no-collector.ipvs --no-collector.sockstat --no-collector.softnet --no-collector.powersupplyclass --no-collector.pressure --no-collector.thermal_zone 

[Install]
WantedBy=multi-user.target
Alias=node_exporter.service
